PORT=5000
MONGODB_URI=mongodb+srv://audaxious:audaxious@cluster0.jj7jufa.mongodb.net/audaxious?retryWrites=true&w=majority
CLIENT_JWT_SECRET=clientabracadabrajs
EMAIL_USER=hackcitytech
EMAIL_HOST=mail.smtp2go.com
EMAIL_PASS=8XDUjIipIeQJ2A3i
EMAIL_SENDER=info@hackcity.tech
EMAIL_APIKEY=B4776444ABCC11ED878DF23C91C88F4E
OAUTH_CLIENT_ID=122212228261-kgj3ck34p2ratj4ag10esdtk4diogl4g.apps.googleusercontent.com
OAUTH_CLIENT_SECRET=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